/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--main-color: #FFFEF8;;
	--bg-color: #1D6154;
}

.gras {
    font-weight: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: var(--main-color);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	color: inherit;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2em;
	margin-bottom: 30px;
}
button {
	font-family: 'Syne';
	font-weight: 700;
	color: var(--bg-color);
	height: 37px;
	width: auto;
	background-color: white;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: 2px solid;
	/* border-color: none; */

	&:hover {
		transition: 0.6s;
		color: white;
		background-color: var(--bg-color);
		border-color: var(--bg-color);
	}
}
.btnSelect {
	color: white;
	background-color: var(--bg-color);
	border-color: var(--bg-color);
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	background-color: white;
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



/*************** MODAL ***************/
.modal {
	padding: 3em;
	border: none;
	border-radius: 10px;
	/* background-color: rgb(255, 255, 255); */
	/* z-index: 10; */
	/* opacity: 1; */
}

.backgroundModal {
	opacity: 0.5;
	background-color: rgba(0, 0, 0, 0.4);
}

/*************** MODAL DELETE ***************/
#modalSettingDelete {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 630px;
	gap: 4em;
}

#modalSettingDelete .modalTitre {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-weight: bold;
}

#modalSettingDelete div {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px 10px;
	
}

#modalSettingDelete img {
	width: 78px;
}

#modalSettingDelete article {
	position: relative;
}

#modalSettingDelete .fa-trash-can {
	cursor: pointer;
	position: absolute;
	text-align: center;
	padding-top: 4px;
	top: 7px;
	right: 7px;
	color: white;
	background-color: black;
	width: 20px;
	height: 20px;
}


/*************** MODAL ADD ***************/
#modalSettingAdd {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 630px;
	gap: 4em;
}

#modalSettingAdd .modalTitre {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-weight: bold;
}

#modalSettingAdd .addImgModal {
	padding: 2em;
	width: 420px;
	/* height: 169px; */
	background-color: #E8F1F6;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	position: relative;

}

#modalSettingAdd .btnModal {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: grey;
	color: white;
	border: none;
	cursor: not-allowed;
}
#modalSettingAdd .btnModal.active {
	background-color: var(--bg-color);
	cursor: pointer;
}

.addImgModal .fa-image {
	color: #B9C5CC;
	font-size: 80px;
}

.addImgModal button {
	color: #306685;
	background-color: #B9C5CC;
	position: relative;
	border: none;
	padding: 0 2em;
}











#imgPreviewDiv {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0; /
}

#imgPreview {
    max-width: 100%; 
    max-height: 100%; 
}





















.addImgModal input {
	z-index: 1;
	opacity: 0;
	position: absolute;
}

#modalSettingAdd form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#modalSettingAdd input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	/* cursor: pointer; */
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#modalSettingAdd select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	/* cursor: pointer; */
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#modalSettingAdd label {
	margin: 2em 0 1em 0;
}


.fa-x {
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.fa-arrow-left {
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: pointer;
}

.btnModal {
	width: 237px;
	border: none;
	color: white;
	background-color: var(--bg-color);
	border-color: var(--bg-color);
}